.sidebar {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-right: 40px;
  border-right: 1px solid #282837;
  min-height: 100%;
}

.logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 30px;
  align-self: center;
  padding: 40px 0 32px;
  color: #fff;
}
